.footer {
    display: flex;
    background-color: rgba(0,0,0,255);
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
}

.footer h1{
    color: #0cc0df;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}


.footer li{
    margin: 14px 0;
}

.footer li a{
    color: white;
    text-decoration: none;
    padding: 0;
}

.footer li a:hover{
    color: #0cc0df;
}