@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Raleway', sans-serif;
}

.f-w-8{
  font-weight: 800;
}
.f-w-4{
  font-weight: 400;
}
.f-w-3{
  font-weight: 300;
}

.f-s-40{
  font-size: var(--font-size-40);
}
.f-s-24{
  font-size: var(--font-size-24);
}
.f-s-20{
  font-size: var(--font-size-20);
}
.f-s-28{
  font-size: var(--font-size-28);
}

.color{
  background-color:rgba(251, 251, 251, 0.1);
}